@media (max-width: 767px) {
	#logo {
	  display: none !important;
	}
  }

  /* Oculta el panel lateral de categorías en móviles */
@media (max-width: 767px) {
  .col-md-3 {
    display: none !important;
  }

  .filtro-categorias-mobile {
    margin-bottom: 1rem;
  }

  #listaCategoriasMobile button {
    margin-bottom: 4px;
  }

  #toggleCategoriasMobile {
    font-weight: bold;
    border-radius: 8px;
  }
}


.producto {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

.producto.fade-in {
  opacity: 1;
  transform: translateY(0);
}


.card.producto-hover2 {
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .card.producto-hover2:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }
  
  .card-img-top {
    height: 180px;
    object-fit: contain;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  
  
  /* Separación entre filas de productos */
  #grilla-productos {
    row-gap: 30px;
  }
  
  .card-footer .btn {
    width: 38px;
    height: 34px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 12px !important; /* cuadrado con puntas redondeadas */
  }
  
  .categoria-btn.active-categoria {
  background-color: orangered !important;
  color: white !important;
  font-weight: bold;
}

  .btn-warning:hover {
    background-color: #b85306 !important;
    color: white;
  }

  .pagination .page-item.active .page-link {
    background-color: #f15a24;
    border-color: #f15a24;
    color: white;
  }
  
  .pagination .page-link {
    color: #f15a24;
  }

  .pagination .page-item.disabled .page-link {
    color: #999;
    background-color: transparent;
    border: none;
  }

  .producto {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
  }
  
  .producto.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .texto-filtro-mobile {
    display: block;
    background-color: #f8f9fa;
    color: #333;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 500;
    border: 1px solid #ddd;
    text-align: center;
  }
  